.registerPage {
  body { padding-top:80px; }
  input {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  form {
    display: block;
    margin-top: 0em;
    :global(.btn) {
      margin-left: 10px;
    }
  }

  .usernameSpinner {
    position: relative !important;
    top: -26px !important;
    left: 908px !important;
  }

  .email-spinner {
    position: relative;
    top: -26px;
    left: 908px;
  }
  h1 {
    text-align: center;
    span.fa-sign-in {

    }
  }
  i {
    font-size: 30px;
    height: 30px;
    top: -35px;
    position: relative;
    left: 929px;
  }

}