.profilePage {
  body {
    padding-top: 80px;
  }
  input {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  form {
    margin-top: 0em;
    :global(.btn) {
      margin-right: 10px;
    }
  }
  :global(.help-block) {
    color: red;
  }
  h1 {
    text-align: center;
  }
  .form-control {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
  }
  .spinner {
    display: inline-flex !important;
  }
  .imgPreview {
    height: auto;
    width: auto;
    max-width: 144px;
    max-height: 144px;
    position: relative !important;
    display: inline-block !important;
    border-width: 2px !important;
    border-color: #666 !important;
    border-style: dashed !important;
    border-radius: 5px !important;
  }
  .dropzone {
    height: auto;
    width: auto;
    max-width: 144px;
    max-height: 144px;
    position: relative !important;
    display: inline-block !important;
    border-width: 2px !important;
    border-color: #666 !important;
    border-style: dashed !important;
    border-radius: 5px !important;
  }
  .image {
    max-width: 100%;
    max-height: 100%;
  }
}