.profilePage {
  body {
    padding-top: 80px;
  }
  input {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  .imgPreview {
    height: auto;
    width: auto;
    max-width: 144px;
    max-height: 144px;
    position: relative !important;
    display: inline-block !important;
    border: 2px dashed #666 !important;
    border-radius: 5px !important;
  }
  .dropzone {
    height: auto;
    width: auto;
    max-width: 144px;
    max-height: 144px;
    position: relative !important;
    display: inline-block !important;
    border: 2px dashed #666 !important;
    border-radius: 5px !important;
  }
  .image {
    width: 144px;
    height: 144px;
    max-width: 100%;
    max-height: 100%;
  }
}