.loginPage {
  body { padding-top:80px; }
  input {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  form {
    display: block;
    margin-top: 0em;
    :global(.btn) {
      margin-left: 10px;
    }
  }
  h1 {
    text-align: center;
    span.fa-sign-in {

    }
  }
}
